<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Header and content renderers -->
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="portofix_head_render" type="PortoFix\Head\Plugin\AddHeadContent" sortOrder="10" />
    </type>
    
    <!-- Result page renderers -->
    <type name="Magento\Framework\View\Result\Page">
        <plugin name="portofix_footer_render" type="PortoFix\Head\Plugin\FooterRenderer" sortOrder="20" />
        <plugin name="portofix_header_render" type="PortoFix\Head\Plugin\HeaderRenderer" sortOrder="10" />
    </type>
    
    <!-- Layout processor -->
    <type name="Magento\Framework\View\Layout\ProcessorInterface">
        <plugin name="portofix_layout_processor" type="PortoFix\Head\Plugin\LayoutProcessor" sortOrder="10" />
    </type>
    
    <!-- Define preferences for theme-specific blocks -->
    <preference for="Magento\Theme\Block\Html\Header" type="PortoFix\Head\Block\Html\Header" />
    <preference for="Magento\Theme\Block\Html\Footer" type="PortoFix\Head\Block\Html\Footer" />
</config>